{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
      <div class="medium-6 columns">
        <h4>Simple reservation system</h4>
        <img class="thumbnail" src="{{ asset('images/reservation.jpg') }}">
      </div>
      <div class="medium-6 large-5 columns">
        <p>&nbsp;</p>
        <br>This is simple reservation system based on Symfony 3 framework.</br>
        Make a reservation, create client, book the room with the client!</p>
      </div>
    </div>

{% endblock %}
